.footer-div {
    background-color: #4e4e4e;
    color: #fcfbfb;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5 rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding: 0.5rem 1rem;
    text-align: center;
}
